<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Racer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B586FA121E4CE42C00AF77E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B586FA281E4CE42C00AF77E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B586FA331E4CE42C00AF77E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
